/* body{
    background-color:rgb(9, 2, 32) ;
} */

/* h1{

    position: absolute;
    top: 45%;
    left: 45%;
    color: aliceblue;
} */

h2 {
    position: absolute;
    top: 1px;
    left: 6%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 250%;

}

h3 {
    position : absolute;
    top: 126px;
    left: 7%;
    font-weight: 600;
    font-size: 265%;
    font-family: "Poppins", sans-serif;
}

h4 {
    position : absolute;
    top: 290px;
    left: 7%;
    font-weight: 300;
    font-size: 80%;
    max-width: 45%;
    font-family: "Poppins", sans-serif;
    font-stretch: condensed;
}

.log{
    top: 80%;
}

h4 span  {
    font-style: italic;

}

nav{
    position: absolute;
    top: 55px;
    left: 40%;
    right: 3%;
    display: flex;
    justify-content: space;
    
}

span nav {
    position: absolute;
    top: 55px;
    left: 85%;
    display: flex;
    justify-content: space;
}

span button {
    border: none;
}

nav button{
    border: none;
    outline: none;
    font-size: 105%;
    background: none;

}

span {
    color: #3f65f0;
}
